# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl

# Kubernetes
kubeconfig

# Docker
*.tar

# Python
__pycache__/
*.pyc
*.pyo

# macOS
.DS_Store

# logs
*.log

# Local helper notes
recreateenv.txt
